<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Todo App</title>
</head>

<body>
    <div id="main">
        <h1>Todo App</h1>
        <ul>
            {% for todo in todos %}
            <li>{{ todo.title }}
                <form action="/like" method="GET">
                    <input type="hidden" name="id" value="{{ loop.index0 }}">
                    <input type="submit" value="Like" {% if todo.liked %} class="liked" {% endif %}>
                </form>
                <form action="/remove" method="GET">
                    <input type="hidden" name="id" value="{{ loop.index0 }}">
                    <input type="submit" value="Remove">
                </form>
            </li>
            {% endfor %}
        </ul>
        <form action="/add" method="GET">
            <input type="text" name="todo">
            <input type="submit" value="Add">
        </form>
    </div>
</body>

<style>
    body {
        font-family: sans-serif;
        color: lightgray;
        background-color: black;
        color-scheme: dark;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 400px;
    }

    h1 {
        text-align: center;
    }

    form {
        display: inline-block;
    }

    .liked {
        background-color: green;
    }
</style>