<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello {{ name }}</title>
</head>
<body>
    <h1>Hello {{ name }}</h1>
    <p>This is a simple web page for {{ name }}.</p>
</body>
</html>